@import "header.css";
@import "footer.css";
@import "home-page.css";
@import "register.css";
@import "success-page.css";
@import "admin.css";
@import "menu.css";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: #f4f4f4;
    line-height: 1.6;

}

p{
    color: #898989;
}

.error {
    color: red;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}
