.success-page{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.success-image{
    width: 300px;
}

.success-text-container{
    text-align: center;
}

.success-text-container h1{
    font-size: 2rem;
}

.success-btn{
    width: 100px;
}
